.sidebar-content {
    /* padding-left: 30px; */
}

.dashboard-sidebar {
    border-top-right-radius: 80px;
    border: none !important;
    width: 250px;
    box-shadow: none !important;
}

.sidebar-items-rounded {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-left: 30px;
}

.sidebar-items-rounded:hover {
    background-image: url("../images/sidenav.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.sidebar-menu-item-container {
    margin-top: -30px !important;
}

.sidebar-items-rounded.active {
    background-image: url("../images/sidenav.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.sidebar-items-rounded.active * {
    color: #30373f;
}

.sidebar-items-rounded:hover * {
    color: #30373f;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.dashboard-card {
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0px 0px 10px rgb(180, 180, 180);
    font-family: Qualy-Light !important;
}

/* tabs */

.dashboard-table tr,
.dashboard-table td {
    text-align: center;
    padding: 20px 0;
}

.product-img {
    padding: 10px 0;
    border-radius: 30px;
}

.product-item-content {
    overflow-y: auto;
    height: 340px;
    overflow-x: hidden;
}

.dashboard-top-part {
    background: #c4f3f57c;
}

.dashboard-table {
    background: #e6c9f8c5;
}

.dashboard-pichart {
    background: #f7f2c1;
}

.product-middle-line {
    left: 50%;
}

.product-symbol {
    left: 40%;
}

.product-card-header {
    border-radius: 10px;
}

.product-card {
    border-radius: 10px;
}

.trading-price {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.dashboard-table-body {
    width: 1000px;
    margin: auto;
}

.nav-active-line {
    border: solid 2px white;
    border-radius: 10px;
    position: absolute;
    height: 50px;
    left: 0;
    top: 27%;
}

@media (max-width: 1440px) {
    .product-symbol {
        left: 38%;
    }

    .dashboard-sidebar {
        box-shadow: none !important;
    }

    .dashboard-table-main {
        overflow-x: auto;
        width: 800px;
    }
}

@media (max-width: 1024px) {
    .content-top,
    .content-bottom {
        flex-direction: column;
    }
    .dashboard-sidebar {
        border-top-right-radius: 60px;
    }

    .candlechart-content,
    .product-list,
    .dashboard-table-content,
    .dashboard-pichart {
        width: 100% !important;
    }

    .product-symbol {
        left: 46%;
    }
    .dashboard-table-main {
        overflow-x: auto;
        width: 100%;
    }

    .candlechart-content, .dashboard-table-content {
        margin-bottom: 40px;
    }
}
