.sidebar-content {
    padding-left: 40px;
}

.dashboard-sidebar {
    border-top-right-radius: 80px;
    width: 250px;
}

.sidebar-items-rounded {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.sidebar-items-rounded:hover {
    background-color: white;
}

.sidebar-items-rounded.active {
    background-color: white;
}

.sidebar-items-rounded.active * {
    color: #30373f;
}

.sidebar-items-rounded:hover * {
    color: #30373f;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
