.sidebar-content {
	padding-left: 20px;
}

.dashboard-sidebar {
    border-top-right-radius: 100px;
    width: 300px;
}

.sidebar-items-rounded {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.sidebar-items-rounded:hover {
    background-image: url(/images/SidebarItemBackground.png);
    background-size: 350px 75px;
    background-position-y: center;
    background-repeat: no-repeat;
}

.sidebar-items-rounded.active {
    background-image: url(/images/SidebarItemBackground.png);
    background-size: 350px 75px;
    background-position-y: center;
    background-repeat: no-repeat;
}

.sidebar-items-rounded.active * {
    color: #30373f;
}

.sidebar-items-rounded:hover * {
    color: #30373f;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}